.dialogsWrapper {
    display: grid;
    grid-template-areas: "dialogItems messages";
    grid-template-columns: 4fr 8fr;
}

/* list of friends to chat with */
.dialogItems {
    grid-area: dialogItems;
}

.dialogItems .active {
    font-size: larger;
    color: red;
}

.messages {
    grid-area: messages;
}

